@charset "utf-8";
body {
    cursor: url(./img/thDQBJQ040.png),auto;
    font-family: 'Amatic SC', cursive;
    width: 100%; 
}
header {
    height: 120px;
    width: 100%;
    /* background-image:url(./img/_53876-31799.jpg); */
    background-size: cover;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    color:white;
    user-select: none;
    
}
.header-left h1 {
    margin-left: 30px;
    font-size: 60px;
}
.header-right {
    display: flex;
}
li a {
    margin-right: 50px;
    font-size: 60px;
    text-decoration: none;
    color: white;
}
.center {
    background-image:url(./img/stock-photo--hello-ma-name-is-self-introduction-177513020.jpg);
    height: 800px;
    width: 100%;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    align-items: flex-end;
}
span {
    font-weight: bold;
}


.center h2 {
    font-size: 200px;
    margin: 0 auto;
    user-select: none;
}
img {
    width: 250px;
    height: 250px;
    
}
.img-box li {
    width: 250px;
    height: 330px;
    background-color:rgb(208, 212, 223);
    padding: 5px;
    margin: 20px;
    border: 3px solid;
    border-radius: 10px;
}
.img-box {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;
 }
.line {
    font-size: 100px;
    text-align: center;
    margin:0 auto;
}
@keyframes typing { from { width: 0; } }
@keyframes caret { 50% { border-color: transparent; } }

.line {
font-family: monospace; 
width: 11ch;
border-right: .08em solid;
overflow: hidden;
font-size: 4em;
white-space: nowrap;
animation: typing 5s steps(11, end), caret .5s step-end infinite;
}



.box span {
    color: red;
    font-size:30px;
}
.prof {
    font-size: 40px;
}
.box {
    display: flex;
    justify-content: center;
}
.box li {
    font-size: 80px;
    margin-left: 50px;
    padding:10px;
}
.album {
    height: 250px;
    width: 350px;
    background-image: url(./img/HappyPhoto-12コピ.jpg);
    background-size: cover;
    animation: bob 60s infinite;
    border: 20px groove ;
    font-size: 20px;
    border-radius: 10px;
    

}    

@keyframes bob{
    0% {
        background-image: url(./img/ore2\ -\ コピー.jpg);
        background-size: cover;
    }
    10%{
        background-image: url(./img/ore3\ -\ コピー.jpg);
        background-size: cover;
    }
    20% {
        background-image: url(./img/ore5\ -\ コピー.jpg);
        background-size: cover;
    }
    30% {
        background-image: url(./img/trip2コピ.jpg);
        background-size: cover;
    }    
    40% {
        background-image: url(./img/trip3コピ.jpg);
        background-size: cover;
    }
    50% {
        background-image: url(./img/trip4コピ.jpg);
        background-size: cover;
    } 
    60% {
        background-image: url(./img/HappyPhoto-12コピ.jpg);
        background-size: cover;
    } 
    70% {
        background-image: url(./img/HappyPhoto-20コピ.jpg);
        background-size: cover;
    }    
    80% {
        background-image: url(./img/Inkedore4\ -\ コピー_LI.jpg);
        background-size: cover;
    } 
    90% {
        background-image: url(./img/614A6285.JPG);
        background-size: cover;
    }    
    100% {
        background-image: url(./img/HappyPhoto-8コピ.jpgTh);
        background-size: cover;
    }
}

footer {
    margin-top: 100px;
    /* height: 320px; */
    width: 100%;
    background-image:url(./img/CSS-Background-Fireflies.gif);
    background-size: cover;
    font-size: 100px;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-top: 100px ;
}
.fini p {
    margin-top: 10px;
}
ul {
    /* display: ; */
    justify-content: flex-end;
}
.text{
    animation: flash 4s linear infinite;
    display: flex;
}
@keyframes flash {
    0%,100% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  }
/* .text-2{
    animation: flash 4s linear infinite;
}
@keyframes flash {
    0%,100% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  }
.text-3{
    animation: flash 4s linear infinite;
}
@keyframes flash {
    0%,100% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  } */
  
    

  
  @media screen and (max-width:1024px) {

    .center h2 {
        
       display: none;
    }
    .line {
        font-size: 100px;
    }
  }
      

  @media screen and (max-width:667px) {
    .header-right {
    flex-direction: column;
       display: none;
     
    }
    .line {
        font-size: 40px;
        margin-bottom: 30px;
        
    }
    .header-left h1 {
        font-size: 30px;
    }

    
    .img {
        width: 100%;
        height: 150px;
       
    }
    #jump li {
        display: none;
        margin-right: 0;
        
        
    }
    .footer {
        background-image: cover;
        width: 100%;
        margin-left: 10px;
    }
  .img-box {
      flex-direction: column;
      
      }
  .img-box li {
      margin: 0 auto;
  }

 
 .fini p {
     font-size: 30px;
 }
 .center {
     height: 370px;
     width: 100%;
     /* background-image: url(./img/_53876-31799.jpg); */
     margin-bottom: 20px;
 }
 .header-left {
display: none;
 }
 .prof li {
     margin-bottom: 10px;
 }

 
  }

   
    
    


  